<!-- info section -->

<section class="info_section  layout_padding2">
  <div class="container">

    <div class="contact_items">
      <a href="" style="text-decoration: none;">
        <div class="item ">
          <div class="img-box ">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="detail-box">
            <p>
              Location
            </p>
          </div>
        </div>
      </a>
      <a href="" style="text-decoration: none;">
        <div class="item ">
          <div class="img-box ">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="detail-box">
            <p>
              Call 099244 18184
            </p>
          </div>
        </div>
      </a>
      <a href="" style="text-decoration: none;">
        <div class="item ">
          <div class="img-box ">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="detail-box">
            <p>
              ak15suthar@gmail.com
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="info_container ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 ">
          <h6>
            About
          </h6>
          <p>
            "Don’t throw cash in the trash, recycle it all – it’s your call!"</p>
        </div>
        <div class="col-md-6 col-lg-3 ">

        </div>
        <div class="col-md-6 col-lg-3 ">
          <h6>

          </h6>
          <p>

          </p>
        </div>
        <div class="col-md-6 col-lg-3 ">
          <h6>
            Useful Link
          </h6>
          <div class="info_link-box">
            <ul>
              <li class="active">
                <a href="index" style="text-decoration: none;">
                  Home
                </a>
              </li>
              <li>
                <a href="about" style="text-decoration: none;">
                  About
                </a>
              </li>
              <li>
                <a href="service" style="text-decoration: none;">
                  Service
                </a>
              </li>
              <li>
                <a href="contactus" style="text-decoration: none;">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->
<!-- footer section -->
<footer class="container-fluid footer_section ">
  <p>
    &copy; <span id="displayDate"></span> All Rights Reserved. Design by
    <a href="https://ak15suthar.github.io/Portfolio/" style="text-decoration: none;">APK Team</a>
  </p>
</footer>
<!-- end  footer section -->
