<section class="about-section" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
        <div class="inner-column">
          <header class="section-header">
            <h2>About Us</h2>
            <p>"Don’t throw cash in the trash, recycle it all – it’s your call!"</p>
          </header>

          <div class="text ">
            <p align="justify" style="font-size: 16px;">OrganicBin is turning leftover organic garbage into materials
              that positivily impact the environment and economy. <br><br>
              As population and urbanisation grows, more food is being
              produced and more food is being wasted. Food waste is one of the least recoverd materials in the municiple
              solid
              waste stream and is one of the most impoertant materials to divert from landfills.
              <br><br>Our mission is not only to collect organic garbage from homes, institutions, restaurants etc. but
              we give price
              per KG in return to organic garbage so that public can earn from waste organic garbage and we also provide
              blogs for environment awareness.
              <br><br>
              We fertilize the waste garbage for farmers use, these will cut costs for farmers, restore soil health, and
              ensure
              proper waste management.
            </p>
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft">
        </div>
      </div>
    </div>
  </div>
</section>
