

table {
  width: 100%;
  border-spacing: 0;
  border-radius: 1em;
  overflow: hidden;
}

thead {
 visibility: hidden;
 position: absolute;
 width: 0;
 height: 0;
}

th {
  background: #4c7e81;
  color: #fff;
}

td:nth-child(1) {
  background: #215A8E;
  color: #fff;
  border-radius: 1em 1em 0 0;
}

th, td {
  padding: 1em;
}

tr, td {
  display: block;
}

td {
  position: relative;
}

td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  padding-left: 1em;
  font-weight: 600;
  font-size: .9em;
  text-transform: uppercase;
}

tr {
  margin-bottom: 1.5em;
  border: 1px solid #ddd;
  border-radius: 1em;
  text-align: right;
}

tr:last-of-type {
  margin-bottom: 0;
}

td:nth-child(n+2):nth-child(odd) {
  background-color: #ddd;
}


@media only screen and (min-width: 768px) {

  table {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
  }

  thead {
    visibility: visible;
    position: relative;
  }

  th {
    text-align: left;
    text-transform: uppercase;
    font-size: .9em;
  }

  tr {
    display: table-row;
    border: none;
    border-radius: 0;
    text-align: left;
  }

  tr:nth-child(even) {
  background-color: #fff;
}

  td {
    display: table-cell;
  }

  td::before {
    content: none;
  }

  td:nth-child(1) {
    background: transparent;
    color: #000;
    border-radius: 0;
  }

  td:nth-child(n+2):nth-child(odd) {
    background-color: transparent;
  }


}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Pending {
  background-color: #4dbfce;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}


.Accepted {
  background-color: rgb(83, 201, 83);
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.size {
  height: 10px;
  width: 30px;
}
