<div class="container">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1>
          Meet our team
        </h1>
        <p class="lead mt-4" style="color: #111827;margin-bottom: 3.5em;">Teamwork is the ability to
          work together toward a common vision. <br>
          The ability to direct individual accomplishments toward organizational objectives.</p>

      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
          <div class="card-shape">
            <img
              src="/assets/images/abhi.jpg"
              class="card-img-top" alt="Jane">
            <div class="custom-shape-divider-bottom-1634717805">

            </div>
          </div>
          <div class="card-footer">
            <p class="mb-0 font-weight-bolder" style="color:#4c7e81">ABHISHEK SUTHAR</p>
            <small class="text-muted">CO-FOUNDER
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
          <div class="card-shape">
            <img
              src="/assets/images/peru.jpg"
              class="card-img-top" alt="Jane">
            <div class="custom-shape-divider-bottom-1634717805">

            </div>
          </div>
          <div class="card-footer">
            <p class="mb-0 font-weight-bolder" style="color:#4c7e81">PERIL TALAVIYA</p>
            <small class="text-muted">CO-FOUNDER
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
          <div class="card-shape">
            <img
            src="/assets/images/Karina.jpg"
              class="card-img-top" alt="Jane">
            <div class="custom-shape-divider-bottom-1634717805">

            </div>
          </div>
          <div class="card-footer">
            <p class="mb-0 font-weight-bolder" style="color:#4c7e81">KARINA BAVISHI</p>
            <small class="text-muted">CO-FOUNDER
            </small>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
