<div class="hero_area ">
  <section class="slider_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="detail-box">
            <h1>
              Welcome to <br>
             OrganicBin
            </h1>
            <p>
              "Don’t throw cash in the trash, recycle it all – it’s your call!"
            </p>
            <div class="btn-box">
              <a href="" style="text-decoration: none;" class="btn-1">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/assets/images/Home.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<section class="cta">
  <div class="container">
    <div class="cta-block row no-gutters">
      <div class="col-lg-4 col-md-6 emmergency item" style="background-color: #4c7e81;">
        <!-- <i class="fa fa-phone"></i> -->
        <h2>Company Contact Details</h2>
        <a href="tel:1-800-700-6200">099244 18184</a>
        <p><b>Address :</b> Panjrapol Road Ahmedabad Panjrapol Campus Panjrapol, Ambawadi, Ahmedabad, Gujarat-380015..</p>
      </div>
      <div class="col-lg-4 col-md-6 top-doctor item" style="background-color: #629194;">
        <i class="fa fa-help"></i>
        <h2>We are here to give Service</h2>
        <p>
          Need Help!!! We are ready to serve you fill up form below and we'll
          contact you soon
        </p>

      </div>
      <div class="col-lg-4 col-md-12 working-time item" style="background-color: #62a5a8;">
        <!-- <i class="fa fa-hourglass"></i> -->
        <h2>Working Hours</h2>
        <ul class="w-hours">
          <li>Mon - Fri - <span>9:30am - 5:30pm</span></li>
          <li>Sat - Sun - <span>9:30am - 5:30pm</span></li>

        </ul>
      </div>
    </div>
  </div>
</section>
